#notice-form {
    padding-bottom: 15px;
}

#notice-form .btn-group-xs .btn {
    margin: 5px 0;
}

label[for="scroll-to-bottom"] {
    float: right;
    margin: 0 5px;
    cursor: pointer;
}

.chat-content-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 640px;
}

.chat {
    margin: 0 15px;
}

.notice-show-more {
    text-align: center;
    margin: 10px 0;
}

.notice-show-more a {
    width: 200px;
}

.notice-content {
    min-height: 380px;
    max-height: 768px;
    overflow-y: auto;
}

.notice-item {
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

div.notice-item.notice-item--new {
    background: rgb(251, 255, 250);
    border-bottom: 1px solid rgb(117, 191, 103);
}

div.notice-item.notice-item--new .notice-item__id .badge {
    background: #49AF37;
}

.notice-item > div {
    padding: 5px;
}

.notice-item__row:after,
.notice-item:after {
    content: "";
    display: block;
    clear: both;
}

.notice-item__id,
.notice-item__type {
    float: left;
}

.notice-item__type {
    margin-left: 10px;
    font-weight: bold;
}

.notice-item__text {
    padding: 5px 20px !important;
}

.notice-item__owner,
.notice-item__created {
    float: right;
}

.notice-item__created {
    font-size: 11px;
    color: #888;
}

.notice-item--loader {
    border-bottom: none;
}

.notice-item--loader > div {
    margin: 0 auto;
    padding: 150px 0;
    width: 40px;
}

.user-item {
    display: block;
}

.user-item:after {
    content: "";
    display: block;
    clear: both;
}

.user-item > div {
    float: left;
}

.user-item__status {
    display: block;
    background: #a90800;
    width: 10px;
    height: 10px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}

.user-item__status.user_online {
    background: #5cb85c;
}

.user-item__username {
    font-size: 14px;
    font-weight: bold;
}

.user-item__role {
    font-size: 10px;
    margin-left: 5px;
}

@keyframes three-quarters-loader {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.three-quarters-loader:not(:required) {
    -webkit-animation: three-quarters-loader 1250ms infinite linear;
    animation: three-quarters-loader 1250ms infinite linear;
    border: 8px solid #38e;
    border-right-color: transparent;
    border-radius: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
}
