html,
body {
    width: 100%;
    height: 100%;
    background: #fff;
}

.content-wrapper {
    min-height: calc(100% - 60px);
    height: auto;
    width: 100%;
    max-width: 1920px;
    min-width: 610px;
    margin: 0;
}

.footer-wrapper {
    width: 100%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px 30px;
}

.tabs-with-large .nav.nav-tabs {
    width: 179px !important;
}

.tabs-with-large .tab-content {
    margin-left: 178px !important;
}

.grid-checked-row {
    background-color: #87E687 !important;
}
